@model IEnumerable<ProjetoCadastro.Models.Usuario>
@{
    ViewData["Title"] = "Lista de Usuários";
}

<h2>Usuários Cadastrados</h2>

<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var u in Model)
        {
            <tr>
                <td>@u.Id</td>
                <td>@u.Nome</td>
                <td>@u.Email</td>
                <td>
                    <a asp-action="Excluir" asp-route-id="@u.Id" class="btn btn-danger btn-sm">Excluir</a>
                    <a asp-action="Editar" asp-route-id="@u.Id" class="btn btn-primary btn-sm">Editar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
