@model IEnumerable<ProjetoCadastro.Models.Produto>
@{
    ViewData["Title"] = "Lista de Produtos";
}

<h2>Produtos Cadastrados</h2>

<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Id</td>
                <td>@p.Nome</td>
                <td>@p.Descricao</td>
                <td>@p.Preco</td>
                <td>@p.Quantidade</td>
                <td>
                    <a asp-action="Excluir" asp-route-id="@p.Id" class="btn btn-danger btn-sm">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
